APP_ENV=local
APP_DEBUG=true
APP_KEY=areallylongsecretkeyhere

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

XCHAIN_LOCAL_WEBHOOK_HOST=http://mywebsite.com
XCHAIN_CONNECTION_URL=http://xchain.tokenly.co
XCHAIN_API_TOKEN=myapitoken123456
XCHAIN_API_KEY=myapisecretkey12345678901234567890123456

PUSHER_URL=http://pusher.tokenly.co
