html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
/* Space out content a bit */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
/* GENERAL CLASSES */
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.content-width {
  left: 0;
  right: 0;
  margin: auto;
}
.x-button {
  background: url(/images/icons/x-close.png);
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.x-button:hover {
  background: url(/images/icons/x-close-hover.png);
}
.bckg-green {
  background-color: #2ecc71;
}
.bckg-blue {
  background-color: #2ea1cc;
}
.bckg-yellow {
  background-color: #f1c40f;
}
.bckg-red {
  background-color: #e74c3c;
}
.bckg-green:hover {
  background-color: #1fdb6f;
}
.bckg-blue:hover {
  background-color: #1fa8db;
}
.bckg-yellow:hover {
  background-color: #ffcc01;
}
.bckg-red:hover {
  background-color: #f4412f;
}
.bckg-green:active {
  background-color: #0eed6c;
}
.bckg-blue:active {
  background-color: #0eb0ed;
}
.bckg-yellow:active {
  background-color: #ffcc01;
}
.bckg-red:active {
  background-color: #ff3824;
}
.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  float: left;
}
.hidden {
  height: 0px !important;
  opacity: 0 !important;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
  width: auto;
}
.center {
  margin: auto;
}
.icon-success {
  width: 161px;
  height: 161px;
  background: url(/images/icons/success.png) center center no-repeat;
}
.icon-next,
.icon-denied,
.icon-wallet,
.icon-qr {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.icon-next {
  background: #2ecc71 url(/images/icons/next-icon.png) center center no-repeat;
}
.icon-denied {
  background: #e74c3c url(/images/icons/denied-icon.png) center center no-repeat;
}
.icon-wallet {
  background: #2ecc71 url(/images/icons/wallet-icon.png) center center no-repeat;
}
.icon-qr {
  background: url(/images/icons/qr-icon.png) center center no-repeat;
}
/* PULSE SPINNER */
.pulse-spinner {
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
.pulse-spinner > div {
  background-color: #d8d8d8;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 4px 0 0;
  -webkit-animation: stretchdelay 2.1s infinite ease-in-out;
  animation: stretchdelay 2.1s infinite ease-in-out;
}
.pulse-spinner .rect2 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.pulse-spinner .rect3 {
  -webkit-animation-delay: -1.9s;
  animation-delay: -1.9s;
}
.pulse-spinner .rect4 {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}
.pulse-spinner .rect5 {
  -webkit-animation-delay: -1.7s;
  animation-delay: -1.7s;
}
@-webkit-keyframes stretchdelay {
  0%,
  14%,
  100% {
    -webkit-transform: scaleY(0.4);
    background-color: #d8d8d8;
  }
  7% {
    -webkit-transform: scaleY(1);
    background-color: #b9b9b9;
  }
}
@keyframes stretchdelay {
  0%,
  14%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    background-color: #d8d8d8;
  }
  7% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    background-color: #b9b9b9;
  }
}
.wide-list {
  width: 100%;
  list-style: none;
}
.wide-list li {
  text-align: left;
}
.wide-list li a {
  color: black;
}
.wide-list p {
  color: gray;
  font-size: 12px;
  margin-top: 0px;
  padding-left: 16px;
  margin-bottom: 22px;
}
.wide-list .item-header {
  font-weight: bold;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}
.wide-list .item-header small {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  margin-bottom: 2px;
  line-height: 20px;
}
.wide-list li + li {
  border-top: 1px solid #e5e5e5;
}
.wide-list a:hover .icon-next {
  background-color: #18e36e;
}
.wide-list a:hover .icon-denied {
  background-color: #fb3c28;
}
.wide-list .icon-next,
.wide-list .icon-denied,
.wide-list .icon-wallet,
.wide-list .icon-qr {
  float: right;
  margin-top: -60px;
  margin-right: 14px;
  cursor: pointer;
}
.wide-list .icon-wallet:hover {
  background-color: #18e36e;
}
.wide-list .icon-qr {
  margin-right: 72px;
}
.wide-list .icon-qr:hover {
  opacity: 0.6;
}
.swapbot-container,
#swapbot-container {
  font-family: SourceSans;
}
.swapbot-container .header,
#swapbot-container .header {
  color: white;
  height: 44px;
  width: 100%;
  margin: 0;
  float: left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #044f95 linear-gradient(to right, #001e3d, #044f95);
  border-bottom: #262626 1px solid;
  vertical-align: middle;
}
.swapbot-container .header div,
#swapbot-container .header div,
.swapbot-container .header h1,
#swapbot-container .header h1 {
  float: left;
  display: inline-block;
}
.swapbot-container .header h1,
#swapbot-container .header h1 {
  font-size: 18px;
}
.swapbot-container .header h1 > a,
#swapbot-container .header h1 > a {
  color: white;
}
.swapbot-container .header h1 > a:hover,
#swapbot-container .header h1 > a:hover {
  opacity: 0.9;
}
.swapbot-container .header h1 > a:hover:after,
#swapbot-container .header h1 > a:hover:after {
  content: "\f08b";
  font-family: 'FontAwesome';
  font-size: 0.8em;
  padding-left: 12px;
  opacity: 0.8;
}
.swapbot-container .header .status-dot,
#swapbot-container .header .status-dot {
  margin: 18px;
}
.swapbot-container .header .avatar,
#swapbot-container .header .avatar {
  background-color: white;
  width: 100px;
  height: 100px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-color: #262626;
  margin-left: 10px;
  margin-top: -22px;
}
.swapbot-container .header .avatar img,
#swapbot-container .header .avatar img {
  height: 90px;
  width: 90px;
  padding: 5px;
}
.swapbot-container .content,
#swapbot-container .content {
  text-align: center;
  color: #161616;
}
.swapbot-container .content p.description,
#swapbot-container .content p.description {
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  max-width: 580px;
}
.swapbot-container .content p.description .more-link,
#swapbot-container .content p.description .more-link {
  padding-left: 10px;
  color: #8e8e8e;
}
.swapbot-container .content p.description .more-link :hover,
#swapbot-container .content p.description .more-link :hover {
  color: #121212;
}
.swapbot-container .content .pulse-spinner,
#swapbot-container .content .pulse-spinner {
  padding: 28px;
}
.swapbot-container .content .icon-success,
#swapbot-container .content .icon-success {
  padding: 38px;
}
.swapbot-container .content .fieldset,
#swapbot-container .content .fieldset {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  padding-bottom: 0px;
  width: 100%;
}
.swapbot-container .content .fieldset input,
#swapbot-container .content .fieldset input {
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 14px;
  padding: 6px;
  font-size: 13px;
}
.swapbot-container .content .fieldset-other,
#swapbot-container .content .fieldset-other {
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
}
.swapbot-container .content .fieldset-other .icon-next:hover,
#swapbot-container .content .fieldset-other .icon-next:hover {
  background-color: #18e36e;
  cursor: pointer;
}
.swapbot-container .content .wide-list,
#swapbot-container .content .wide-list {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.swapbot-container .footer,
#swapbot-container .footer {
  color: #8e8e8e;
  font-size: 10px;
  float: right;
  padding: 8px;
}
.swapbot-container .footer a,
#swapbot-container .footer a {
  color: inherit;
}
.segment-control {
  margin: 0 auto;
  line-height: 0px;
}
.segment-control div.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #dbdbdb;
}
.segment-control div.dot.selected {
  box-shadow: inset 0px 0px 0px 2px #8e8e8e;
}
.segment-control div.dot + div.dot {
  margin-left: 44px;
}
.segment-control div.line {
  display: inline-block;
  height: 0px;
  border-top: 2px solid #eaeaea;
  margin-bottom: -7px;
}
.qr-code-image {
  float: right;
  width: 320px;
  height: 320px;
  padding: 10px;
  padding-top: 0px;
  padding-right: 46px;
}
.shadow-link {
  color: #9c9b9b;
  text-decoration: underline;
  font-size: 12px;
}
.shadow-link:hover {
  color: black;
}
.details-link {
  color: #121212;
  font-size: 14px;
}
.details-link .fa {
  margin-left: 4px;
  color: #2ea1cc;
}
.details-link:hover {
  color: #454545;
}
#token-available {
  font-weight: bold;
}
/* Global varibles */
body {
  background-color: #f7f7f7;
  font-family: 'Source Sans Pro', sans-serif;
}
.content-width {
  width: 1000px;
}
#navigation-bar {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #fefefe;
  outline: 1px solid #dddddd;
  z-index: 1000;
}
#top-background {
  position: absolute;
  z-index: -1;
  background: url(/images/background/marketplace.png);
  background-size: cover;
  height: 500px;
  width: 100%;
}
#top-background div {
  background: url(/images/background/gradient.png) 100%;
  height: 100%;
  width: 100%;
}
#container {
  padding-top: 48px;
}
#details {
  color: white;
}
#details h1 {
  margin: 0px;
}
#details a {
  color: white;
}
#details div {
  display: inline-block;
}
#details .name {
  font-size: 16px;
  width: 60px;
  clear: left;
  float: left;
}
#details .value {
  font-weight: bold;
  padding-left: 14px;
  float: left;
}
#details #details-content {
  margin: 80px;
  margin-bottom: 90px;
  margin-left: 60px;
}
#details #details-avatar {
  width: 110px;
  height: 110px;
  margin: 70px;
  margin-right: 0px;
  margin-left: 60px;
  float: left;
  border-radius: 56px;
  border: 2px solid black;
  background: #fefefe;
}
#details #details-avatar > img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
#content {
  background-color: #fefefe;
  border: 1px solid #dddddd;
  padding: 22px;
  min-height: 1000px;
}
#main-buttons-bar {
  height: 50px;
  margin-top: -40px;
}
#main-buttons-bar #heart-button {
  width: 60px;
  font-size: 20px;
}
.section {
  margin-top: 30px;
  padding-bottom: 20px;
}
.section h3 {
  color: #8e8e8e;
  border-bottom: 1px solid #e5e5e5;
  font-weight: lighter;
  font-size: 15px;
  padding: 8px;
  padding-left: 14px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section .description {
  padding: 14px;
}
.section + .section {
  border-left: 1px solid #e5e5e5;
}
ul.swaps-list {
  padding: 14px;
  list-style-type: none;
}
ul.swaps-list li {
  padding-bottom: 20px;
}
ul.swaps-list li h5 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: normal;
  color: #121212;
}
ul.swaps-list li p {
  margin: 0px;
  font-size: 12px;
  color: #8e8e8e;
}
#swapbot-container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-align: center;
  border-radius: 6px;
  margin-top: 14px;
  background-color: #F8F8F8;
  border: 1px solid #e5e5e5;
}
#swapbot-container .content {
  padding-top: 10px;
}
#swapbot-container .content h2 {
  font-weight: bold;
  font-size: 1.7em;
}
#swapbot-container .content .wide-list {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: #fefefe;
}
#swapbot-container .content .wide-list li {
  margin-left: 16%;
  margin-right: 16%;
}
#swapbot-container .content .segment-control {
  padding: 28px;
  padding-top: 16px;
}
.content .icon-success {
  margin-bottom: 34px;
}
.content .x-button {
  float: right;
  margin-right: 52px;
  margin-top: -50px;
}
.swap-list .pending {
  background-color: #e6f4f9;
  border-bottom: 1px solid #c9e7f3;
  height: 66px;
  padding-top: 24px;
}
.swap-list .pending .status-icon {
  margin-top: 2px;
}
.swap-list .confirmed {
  background-color: #e6f9ee;
  border-bottom: 1px solid #c9f3db;
}
.swap-list .failed {
  background-color: #fce6e4;
  border-bottom: 1px solid #f9d6d2;
}
.swap-list .icon-pending {
  border: 1px solid #2ea1cc;
  background: url(/images/icons/loading-icon.png) no-repeat;
  background-position: -40px 0px;
  -webkit-animation: background-move-animation 2.1s infinite ease-in-out;
  animation: background-move-animation 2.1s infinite;
}
.swap-list .icon-confirmed {
  border: 1px solid #2ecc71;
  background: url(/images/icons/ok-icon.png) center center no-repeat;
}
.swap-list .icon-failed {
  border: 1px solid #e74c3c;
  background: url(/images/icons/fail-icon.png) center center no-repeat;
}
.swap-list .status-icon {
  float: left;
  padding: 17px;
  margin: 25px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  margin-left: -72px;
  margin-top: -7px;
}
.swap-list li {
  list-style: none;
  height: 56px;
  padding-top: 34px;
  padding-left: 100px;
}
.swap-list li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
@-webkit-keyframes background-move-animation {
  1% {
    background-position: -40px 0px;
  }
  100% {
    background-position: 80px 0px;
  }
}
@keyframes background-move-animation {
  1% {
    background-position: -40px 0px;
  }
  100% {
    background-position: 80px 0px;
  }
}
.segment-control div.dot + div.dot {
  margin-left: 44px;
}
.segment-control div.line {
  width: 180px;
}
/* BUTTONS */
button,
a.btn {
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-action {
  height: 46px;
  width: 180px;
  font-weight: bold;
  font-size: 13px;
  color: white;
}
.btn-stick-right {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 0px;
}
.btn-stick-left {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 0px;
}
.button-question {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-left: 10px;
  color: white;
  font-size: 10px;
  background-color: rgba(200, 200, 200, 0.2);
  font-weight: bold;
  margin-top: -8px;
}
.button-question:after {
  content: "?";
}
.button-load-more {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 240px;
  height: 50px;
  font-size: 15px;
  background-color: white;
  color: #2ea1cc;
}
.button-load-more:hover {
  background-color: #daeff7;
}
/* RESPONSIVENESS */
@media screen and (max-width: 1000px) {
  .content-width {
    width: 100%;
  }
}
@media screen and (max-width: 1000px / 1.3) {
  .section + .section {
    border-left: 0px;
  }
  .btn-action {
    width: 25%;
  }
  #details h1 {
    font-size: 1.8em;
  }
  #details .value {
    clear: left;
  }
  #details #details-content {
    margin: 40px;
    margin-bottom: 54px;
  }
  #details #details-avatar {
    width: 110px;
    height: 110px;
    margin: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  #swapbot-container .wide-list li {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1000px / 2) {
  #navigation-bar {
    position: absolute;
  }
  #main-buttons-bar {
    padding-left: 10px;
    padding-right: 10px;
  }
  #details h1 {
    font-size: 1.8em;
  }
  #details .value {
    font-size: 13px;
  }
  #details #details-content {
    margin: 26px;
    margin-bottom: 48px;
  }
  #details #details-avatar {
    display: none;
  }
  #content {
    padding-left: 0px;
    padding-right: 0px;
  }
  #swapbot-container {
    border-radius: 0px;
  }
  .grid-100 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #swap-step-3 h2 {
    margin-right: 68px;
  }
  #swap-step-3 .x-button {
    margin-right: 22px;
  }
  .btn-action {
    font-size: 12px;
  }
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 3px;
  }
  .button-question {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 9px;
    margin-top: -8px;
  }
  .content .icon-success {
    margin-bottom: 0px;
  }
  .swap-list .status-icon {
    display: none;
  }
  .swap-list li {
    padding-left: 14px;
    height: 66px;
    padding-top: 24px;
    text-align: center;
  }
  #swapbot-container .content .wide-list li {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=bot.css.map */