
@import "shared/common.less";

body {
    background-color: @background-color;
    font-family: 'Source Sans Pro', sans-serif;
}

.content-width {
	width: @content-width;
}

#navigation-bar {
	position:fixed;
	width: 100%;
	height: 48px;
	background-color: @panels-background-color;
	outline: 1px solid @panels-border-color;
	z-index: 1000;
}

#top-background {
	position:absolute;
	z-index: -1;
	background: url(../images/background/marketplace.png);
	background-size: cover;
	height:500px;
	width:100%;
	div {
		background: url(../images/background/gradient.png) 100%;
		height:100%;
		width:100%;
	}
}

#container {
	padding-top: 48px;
}

#details {
	color: white;
	h1 {
		margin:0px;
	}
	a {
		color: white;
	}
	div {
		display: inline-block;
	}
	.name {
		font-size: 16px;
		width: 60px;
		clear: left;
		float:left;
	}
	.value {
		font-weight: bold;
		padding-left: 14px;
		float:left;
	}
	#details-content {
		margin: 80px;

		margin-top: 10px; // no extra header

		margin-bottom: 90px;
		margin-left: 60px;
	}
	#details-avatar, #details-logo {
		width: 110px;
		height: 110px;
		margin: 70px;

		margin-top: 0px; // no extra header
		
		margin-right: 0px;
		margin-left: 60px;
		float: left;
		border-radius: 56px;
		border: 2px solid black;
		background: darken(@panels-background-color, 2%);
		img {
			width: 90%;
			height: 90%;
			margin-left: 5%;
			margin-top: 5%;
		}
	}
	#details-avatar {
		position: relative;

		.button-question {
			position: absolute;
			bottom: 0;
			right: -15px;
			width: 22px;
			height: 22px;
			border-radius: 11px;
			background-color: rgba(0, 0, 0, 0.6)
		}
	}


	#details-avatar:hover {
		.button-question {
			background-color: rgba(0, 0, 0, 0.9)
		}
	}

	#details-logo {
		float: right;
		border-radius: 0;
	}
}

#content {
	background-color: @panels-background-color;
	border: 1px solid @panels-border-color;
	padding: 22px;
	min-height: 1000px;
}

#main-buttons-bar {
	height:50px;
	margin-top: -40px;
	#heart-button {
		width:60px;
		font-size: 20px;
	}
}

.section {
	margin-top: 30px;
	padding-bottom: 20px;
	h3 {
		color: @secondary-font-color;
		border-bottom: 1px solid lighten(@secondary-font-color, 34%);
		font-weight: lighter;
		font-size: 15px;
		padding: 8px;
		padding-left: 14px;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.description {
		padding: 14px;
	}
	.buy-sell-separator {
		height: 4px;
		margin-top: 8px;
		margin-bottom: 24px;
	}
}

.section + .section {
	border-left: 1px solid lighten(@secondary-font-color, 34%);
}

ul.swaps-list {
	padding: 14px;
	list-style-type: none;
	li {
		padding-bottom: 20px;
		h5 {
			margin: 0px;
			padding: 0px;
			font-size: 22px;
			font-weight: normal;
			color: @primary-font-color;
		}
		p {
			margin:0px;
			font-size: 12px;
			color: @secondary-font-color;
		}
	}
}

ul#swaps-list {
	.line-swap-rules {
		font-weight: 800;
	}
	.whitelist-summary {
		color: @flat-red;
	}
}

#swapbot-container {
	padding-right: 0px !important;
	padding-left: 0px !important;
	text-align: center;
	border-radius: 6px;
	margin-top: 14px;
	background-color: #F8F8F8;
	border: 1px solid lighten(@secondary-font-color, 34%);
	.content {
		padding-top: 10px;
		h2 {
			font-weight: bold;
			font-size: 1.7em;
		}
		h3 {
			font-weight: bold;
			font-size: 1.3em;
			&.subtitle {
				margin-top: -1rem;
				padding-bottom: 2rem;
			}
		}
		.wide-list {
			margin-top: 24px;
			margin-bottom: 30px;
			background-color: @panels-background-color;
			li {
				margin-left: 16%;
				margin-right: 16%;
			}
			a.shadow-link {
			    color: #9c9b9b;
			    text-decoration: underline;
			    font-size: 12px;
			    font-weight: normal;
			}
		}
		#transaction-wait-list li {
			text-align: center;
			padding: 40px;
			.status-icon {
				float:left;
				margin-top: -8px;
			}
			// a {
			// 	font-weight: bold;
			// }
		}
		#transaction-confirm-list {
			li {
				display: table;
			}
			.icon-next {
				margin-top: 0px;
				-moz-box-sizing: border-box;
			}
			.icon-next:hover {
				background-color: saturate(@flat-green, 18%);
			}
			.item-content {
				width: 860px;
				display: table-cell;
			}
			.item-actions {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.segment-control {
			padding: 28px;
			padding-top: 16px;
		}
	}
	div#GoBackLink {
		margin-top: 8px
	}

	.fiatSuffix {
		color: #202020;
		font-weight: 500;
		font-size: 90%;
	}

	.appliedDiscountMessage {
		color: #505050;
		margin-left: 8px;
	}

	.pocketsLink {
		position: relative;
		top: 8px;
		margin-left: 7px;
	}

	.qrCodeIcon {
		position: relative;
		top: 8px;
		margin-left: 7px;

		display: inline-block;
		width: 32px;
		height: 32px;
		border: 2px solid darken(@flat-blue, 15%);
	}

	.helpLink {
		margin-left: 12px;
	}

	.popover {
		text-decoration: underline;
	}


	.whitelist-message {
		color: @flat-red;
		font-weight: bold;
	}
}

.content {
	.x-button {
		float:right;
		margin-right: 52px;
		margin-top: -50px;
	}
}

@row-height: 90px;
.swap-list {
	.pending {
		background-color: lighten(@flat-blue, 45%);
		border-bottom: 1px solid lighten(@flat-blue, 38%);
	}
	.confirmed {
		background-color: lighten(@flat-green, 45%);
		border-bottom: 1px solid lighten(@flat-green, 38%);
	}
	.failed {
		background-color: lighten(@flat-red, 37%);
		border-bottom: 1px solid lighten(@flat-red, 33%);
	}
	.refunded {
		background-color: #F2FAFD;
		border-bottom: 1px solid #D1DDE2;
	}
	.status-icon {
		float: left;
		margin: 27px;
		position: absolute;
		margin-left: -70px;
	}
	.status-content {
		height: 100%;
		line-height: @row-height - 6px;
		> span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal; 
		}
		div.date {
			color: #9c9b9b;
			font-size: 12px;
			padding-bottom: 2px;
		}
	}
	li {
		list-style: none;
		min-height: @row-height;
		padding-left: 100px;
		a {
			text-decoration: none;
			font-weight: bold;
			color: black;
		}
	}
}

.segment-control {
	div.dot + div.dot {
		margin-left: 44px;
	}
	div.line {
		width: 180px;
	}
}

li.chooseable:hover {
	background-color: lighten(@flat-blue, 42%);
}
li.unchooseable {
	opacity: 0.4;
	cursor: default;
	a {
		cursor: default;
		.icon-next {
			cursor: default;
		}
	}
}


/* BUTTONS */

button {
	border:0px;
	border-radius: 4px;
	cursor: pointer;
}

a.btn-action {
	align-items: flex-start;
	text-align: center;
	box-sizing: border-box;
	padding: 2px 6px 3px;
	border-radius: 4px;
	display: inline-block;
	line-height: 2.8rem;
	margin-left: 8px;
	margin-right: 8px;
}

.btn-action {
	height: 46px;
	width: 180px;
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.btn-stick-right {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 0px;
}

.btn-stick-left {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	margin-left: 0px;
}

.button-question {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	margin-left: 10px;
	color:white;
	font-size: 10px;
	background-color: rgba(200, 200, 200, 0.2);
	font-weight: bold;
	margin-top: -8px;
}

.button-question:after {
	content:"?";
}

.button-question-dark {
	background-color: rgba(0, 0, 0, 0.3);
}
.button-question-dark:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.button-question-small {
	margin-left: 5px;
	width: 16px;
	height: 16px;
	font-size: 9px;
}


.button-load-more {
	// float:left;
	// margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
	width: 240px;
	height: 50px;
	font-size: 15px;
	background-color: white;// lighten(@flat-blue, 50%);
	color:@flat-blue;
}

.button-load-more:hover {
	background-color: lighten(@flat-blue, 42%);
}

.noUnderline {
	text-decoration: none;
}

.webui-popover-content {
    font-size: 0.85rem;
}
.webui-popover-content ul {
	// list-style-type: none;
	padding-left: 20px;
}

.webui-popover-content div.longPopoverDesc {
	max-height: 340px;
    overflow-y: scroll;
}


/* RESPONSIVENESS */

@media screen and (max-width: @content-width) {
	.content-width {
		width: 100%;
	}
}

@media screen and (max-width: @content-width / 1.3) {
	.section + .section {
		border-left: 0px;
	}
	.btn-action {
		width: 25%;
	}
	#details {
		h1 {
			font-size: 1.8em;
		}
		.value {
			clear: left;
		}
		#details-content {
			margin: 40px;
			margin-bottom: 54px;
		}
		#details-avatar, #details-logo {
			width: 110px;
			height: 110px;
			margin: 40px;
			margin-right: 0px;
			margin-bottom: 0px;
		}
	}
	#swapbot-container .wide-list li {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: @content-width / 2) {
	.grid-50 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#navigation-bar {
		position:absolute;
	}
	#main-buttons-bar {
		padding-left: 10px;
		padding-right: 10px;
	}
	#details {
		h1 {
			font-size: 1.8em;
		}
		.value {
			font-size: 13px;
		}
		#details-content {
			margin: 26px;
			margin-bottom: 48px;
		}
		#details-avatar, #details-logo {
			display: none;
		}
	}
	#content {
		padding-left: 0px;
		padding-right: 0px;
	}
	#swapbot-container {
		border-radius: 0px;
	}
	.grid-100 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#swap-step-3 {
		h2 {
			margin-right: 68px;
		}
		.x-button {
			margin-right: 22px;
		}
	}
	.btn-action {
		font-size: 12px;
	}
	.status-dot {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		margin: 3px;
	}
	.button-question {
		width: 16px;
		height: 16px;
		border-radius: 8px;
		font-size: 9px;
		margin-top: -8px;
	}
	.content .icon-success {
		margin-bottom: 0px;
	}
	.swap-list {
		.status-icon {
			display: none;
		}
		li {
			padding-top: 6px;
			padding-bottom: 10px;
			padding-left: 12px;
			padding-right: 12px;
			min-height: 62px;
			text-align: center;
			> span {
				width: 100%;
			}
		}
	}
	#swapbot-container .content .wide-list li {
		margin-left: 0px;
		margin-right: 0px;
	}
}


// import unsemantic
@import (inline) "imports/unsemantic.css";

// custom overrides
@import "shared/custom.less";
